<ul class="webinars">
    {% for webinar in webinars %}

    <li class="webinar">
        <div class="webinar-img">
            <picture>
                <source
                    srcset="
                        https://fdnd-agency.directus.app/assets/{{ webinar.thumbnail }}?format=avif&width=150 150w,
                        https://fdnd-agency.directus.app/assets/{{ webinar.thumbnail }}?format=avif&width=250 250w,
                        https://fdnd-agency.directus.app/assets/{{ webinar.thumbnail }}?format=avif&width=350 350w,
                        https://fdnd-agency.directus.app/assets/{{ webinar.thumbnail }}?format=avif&width=400 400w"
                    type="
                        image/avif" 
                    sizes="
                        (max-width: 150px) 150px,
                        (max-width: 250px) 250px,
                        (max-width: 350px) 350px,
                        (min-width: 400px) 400px">
                <source
                    srcset="
                        https://fdnd-agency.directus.app/assets/{{ webinar.thumbnail }}?format=webp&width=150 150w,
                        https://fdnd-agency.directus.app/assets/{{ webinar.thumbnail }}?format=webp&width=250 250w,
                        https://fdnd-agency.directus.app/assets/{{ webinar.thumbnail }}?format=webp&width=350 350w,
                        https://fdnd-agency.directus.app/assets/{{ webinar.thumbnail }}?format=webp&width=400 400w"
                    type="
                        image/webp" 
                    sizes="
                        (max-width: 150px) 150px,
                        (max-width: 250px) 250px,
                        (max-width: 350px) 350px,
                        (min-width: 400px) 400px">
                <img 
                    class="banner"
                    src="https://fdnd-agency.directus.app/assets/{{ webinar.thumbnail }}?width=450&height=338&fit=cover"
                    alt="{{ webinar.title }}" 
                    width="350" 
                    height="300">
            </picture>
        
            <ul class="category">
                {% for categorie in webinar.categories %}
                <li>
                    <p class="category-label">{{ categorie.avl_categories_id.name }}</p>
                </li>
                {% endfor %}
            </ul>

            <p class="duration">{{ webinar.duration }}</p>

            <!-- Zet de webinar ID filter dit naar een string en verwijder eventuele spaties -->
            {% assign webinarIdString = webinar.id | string | strip %}
            <form class="webinar-form" method="POST" action="{{ webinarUrl }}" data-enhanced="form-{{ webinar.id }}">
                <input type="hidden" name="textField" value="{{ webinar.id }}">
                <input type="hidden" name="forField" value="Watchlist Amber">
                <button class="watchlist-btn loading" type="submit">
                    {% if watchlistIds contains webinarIdString %}
                    <img src="/assets/remove-from-watchlist-icon.svg" alt="">
                    <span>Remove from watchlist</span>
                    {% else %}
                    <img src="/assets/add-to-watchlist-icon.svg" alt="">
                    <span>Add to watchlist</span>
                    {% endif %}
                </button>
            </form>
        </div>
        <h3>{{ webinar.title | truncatewords: 8 }}</h3>
        <p class="speaker">
            {% for speaker in webinar.speakers %}
            {{ speaker.avl_speakers_id.fullname }}
            {% endfor %}
        </p>
        <a href="/webinars/{{ webinar.slug }}">View webinar <img src="/assets/arrow-right-webinar.svg"  width="15" height="15" alt=""></a>
    </li>

    {% endfor %}
</ul>